{% extends 'base-ar.html' %}

{% block docStyles %}

<link rel="stylesheet" href="/statics/ar-styles/about.css">

{% endblock %}

{% block main %}

<main>
    <section id="home" class="flex-center">
        <h1 class="section-title-ar slide-out-text fader">نحن منصة التطوع</h1>
        <p class="slide-out-text fader"> منظمة غير ربحية تطوعية تهدف إلى زيادة الوعي بأهمية العمل التطوعي بين الأطفال والشباب.نحن متواجدون في عدة مدن في منطقة الشرق الأوسط وشمال إفريقيا ، ونعمل مع متطوعين شغوفين بإحداث فرق في مجتمعاتهم.</p>
        <figure id="home-images" class="fader">
            <img src="/statics/images/about-images/about-left.webp" id="home-img-r" data-no-sizing="yes" alt="صورة جماعية لفريق السودان">
            <img src="/statics/images/about-images/about-middle.webp" id="home-img-m" data-no-sizing="yes" alt="صورة جماعية لفريق مصر مع اطفال مشاركين في احد برامجنا">
            <img src="/statics/images/about-images/about-right.webp" id="home-img-l" data-no-sizing="yes" alt="صورة لفريق موريتانيا مع اطفال كانوا ايضا مشاركين في احد برامجنا">
        </figure>
    </section>
    <section id="our-story" class="flex-center-col">
        <h2 class="section-title-ar slide-out-text fader">نمكن الاطفال ليكونوا قادة المستقبل في مجتمعاتهم</h2>
        <div class="flex-center-col">
            <p class="slide-out-text fader">أنشئت منظمتنا من قِبل متطوعين أمضوا سنوات في العمل مع الأطفال والشباب في مجتمعاتهم. مما جعلهم مؤهلين للعمل بشكل وثيق مع الأطفال والشباب في المجتمعات المختلفة، ومساعدتهم في تطوير مهاراتهم القيادية وفهم أهمية التطوع لجعل العالم مكانا أفضل</p>
            <p class="slide-out-text fader"> لقد لاحظنا أن العديد من الأطفال لا يعرفون الكثير عن التطوع ولكنهم ما زالوا يرغبون في مساعدة الآخرين. ومن هنا جاءت فكرة المنظمة.</p>
            <p class="slide-out-text fader">نأمل أن نوفر لهؤلاء الأطفال فرصًا للمشاركة في الأنشطة التطوعية التي ستزيد عدد من المتطوعين في مجتمعاتهم وتجعلهم أشخاصًا أفضل، نأمل ايضا في زيادة الوعي حول التطوع بين الأطفال والشباب ليتمكنوا من المشاركة في المجتمع وجعله أولوية. نريدهم أن يفهموا مدى أهمية رد الجميل لمجتمعهم من خلال التطوع حتى يتمكنوا من النمو مع شعور جيد بالمسؤولية تجاه الآخرين وفهم كيف يمكنهم التأثير على المجتمع كبالغين</p>
        </div>
    </section>
    <section id="mission-and-vision" class="circles-side-shape-left">
        <article class="vision-mission-item">
            <figure class="vision-mission-img fader">
                <img src="/statics/images/about-images/Vision.svg" loading="lazy" alt="صورة تعبيرية عن علم في اعلى قمة جبل ومنظار موجها الى العلم معبرا عن رؤيتنا">
            </figure>
            <div class="vision-mission-descr flex-center-col">
                <h3 class="section-title-ar slide-out-text fader">رؤيتنا</h3>
                <p class="slide-out-text fader"> بناء أجيال تدرك أهمية التطوع ومعنى المبادرة</p>
            </div>
        </article>
        <article class="vision-mission-item">
            <figure class="vision-mission-img fader">
                <img src="/statics/images/about-images/Message.svg" loading="lazy" alt="صورة تعبيرية عن طفل ومراهقة حولهم رسوم تعبر عن الابتكار والريادة معبرة عن رسالتنا">
            </figure>
            <div class="vision-mission-descr flex-center-col">
                <h3 class="section-title-ar slide-out-text fader">رسالتنا</h3>
                <p class="slide-out-text fader">تمكين الأطفال ليكونوا كوادر قيادية ومبادِرة منذ الصغر وزرع قيم ومفاهيم التطوع من خلال تطوير مهاراتهم باستخدام طرق مبتكرة وأساليب إبداعية</p>
            </div>
        </article>
    </section>
    <section id="our-values" class="flex-center-col">
        <h3 class="section-title-ar"><span class="slide-out-text fader">قيمنا </span><span class="slide-out-text fader">الموجهه </span><span class="slide-out-text fader">لأعمالنا </span></h3>
        <article id="values-items">
            <div class="value-item flex-center fader">
                <figure class="value-img flex-center">
                    <img src="/statics/images/about-images/values/commitment.webp" loading="lazy" alt="رسم تعبيري عن الالتزام والمسئولية">
                </figure>
                <p class="slide-out-text fader">الالتزام وحس المسؤلية</p>
            </div>
            <div class="value-item flex-center fader">
                <figure class="value-img flex-center">
                    <img src="/statics/images/about-images/values/team-work.webp" loading="lazy" alt="رسم تعبيري لايادي متكاتفه نعبر عن العمل الجماعي">
                </figure>
                <p class="slide-out-text fader">العمل الجماعي وروح المشاركة</p>
            </div>
            <div class="value-item flex-center fader">
                <figure class="value-img flex-center">
                    <img src="/statics/images/about-images/values/leadership.webp" loading="lazy" alt="رسم تعبيري لشخص اعلى قمة موجه يده الى السماء معبر عن المبادرة و الريادة">
                </figure>
                <p class="slide-out-text fader">المبادرة والريادة</p>
            </div>
            <div class="value-item flex-center fader">
                <figure class="value-img flex-center">
                    <img src="/statics/images/about-images/values/tolerance.webp" loading="lazy" alt="رسم تعبيري لايادي مختلفه تعبر عن احنارمنا للاختلاف وتقبل الاخر">
                </figure>
                <p class="slide-out-text fader">احترام الاختلاف وتقبل الاخر</p>
            </div>
            <div class="value-item flex-center fader">
                <figure class="value-img flex-center">
                    <img src="/statics/images/about-images/values/transparency.webp" loading="lazy" alt="رسم تعبيري لعدسة مكبرة فوق ملف تعبر عن المصداقية والشفافية">
                </figure>
                <p class="slide-out-text fader">المصداقية والشفافية</p>
            </div>
            <div class="value-item flex-center fader">
                <figure class="value-img flex-center">
                    <img src="/statics/images/about-images/values/purpose.webp" loading="lazy" alt="رسم تعبيري للمحتوى الهادف">
                </figure>
                <p class="slide-out-text fader">المحتوى الهادف</p>
            </div>
        </article>
    </section>
    <section id="our-leadership" class="flex-center-col">
        <h4 class="section-title-ar"><span class="slide-out-text fader">تعرف </span><span class="slide-out-text fader">على </span><span class="slide-out-text fader">قيادتنا </span></h4>
        <article id="our-founder" class="flex-center">
            <figure id="founder-img" class="fader">
                <img src="/statics/images/about-images/founder.jpeg" loading="lazy" alt="صورة شخصية لميساء محجوب">
            </figure>
            <div class="flex-center-col">
                <h4 class="sub-title-ar slide-out-text fader">ميساء محجوب</h4>
                <i class="slide-out-text fader">المؤسس والرئيس</i>
                <p class="slide-out-text fader">" التطوع أرث وأثر. أثر يليق بالجميع ،، وإرث يكفي الجميع ولان العالم يحتاج أن تعطي وتأخذ ، فإن التطوع يعلمك ان تعطي حبا وتأخذ امتنان .. كن ذا أثر ،، كن ذا أرث ،، كن متطوع "</p>
            </div>
        </article>
        <article id="egypt-team" class="leadership-teams flex-center-col">
            <h4 class="sub-title-ar slide-out-text fader">فريق مصر</h4>
            <div class="team-members fader add-anchors">
                <div class="member-item flex-center-col">
                    <figure class="member-img">
                        <img src="/statics/images/about-images/egypt-team/shayma'a.png" loading="lazy" alt="صورة شخصية لشيماء عبدالقادر">
                    </figure>
                    <p class="member-name slide-out-text fader">شيماء عبدالقادر</p>
                    <p class="member-position slide-out-text fader">رئيس لجنة الموارد البشرية</p>
                </div>
                <div class="member-item flex-center-col">
                    <figure class="member-img">
                        <img src="/statics/images/about-images/egypt-team/Rahaf.png" loading="lazy" alt="صورة شخصية لرهف عادل">
                    </figure>
                    <p class="member-name slide-out-text fader">رهف عادل</p>
                    <p class="member-position slide-out-text fader">رئيس لجنة الانشطة</p>
                </div>
                <div class="member-item flex-center-col">
                    <figure class="member-img">
                        <img src="/statics/images/about-images/egypt-team/kalimat.png" loading="lazy" alt="صورة شخصية لكلمات العطايا">
                    </figure>
                    <p class="member-name slide-out-text fader">كلمات العطايا</p>
                    <p class="member-position slide-out-text fader">رئيس لجنة الانشطة التطوعية</p>
                </div>
                <div class="member-item flex-center-col">
                    <figure class="member-img">
                        <img src="/statics/images/about-images/egypt-team/maha.png" loading="lazy" alt="صورة شخصية لمها راجح">
                    </figure>
                    <p class="member-name slide-out-text fader">مها راجح</p>
                    <p class="member-position slide-out-text fader">رئيس لجنة بناء القدرات</p>
                </div>
                <div class="member-item flex-center-col">
                    <figure class="member-img">
                        <img src="/statics/images/about-images/egypt-team/khaled.jpeg" loading="lazy" alt="صورة شخصية لخالد خليفة">
                    </figure>
                    <p class="member-name slide-out-text fader">خالد خليفة</p>
                    <p class="member-position slide-out-text fader">نائب ثاني - لجنة الموارد البشرية</p>
                </div>
                <div class="member-item flex-center-col">
                    <figure class="member-img">
                        <img src="/statics/images/about-images/egypt-team/hussain.jpeg" loading="lazy" alt="صورة شخصية لحسين خليفة">
                    </figure>
                    <p class="member-name slide-out-text fader">حسين خليفة</p>
                    <p class="member-position slide-out-text fader">نائب ثاني - لجنة العلاقات العامة</p>
                </div>
                <div class="member-item flex-center-col">
                    <figure class="member-img">
                        <img src="/statics/images/about-images/egypt-team/mostafa.jpeg" loading="lazy" alt="صورة شخصية لمصطفى سعيد">
                    </figure>
                    <p class="member-name slide-out-text fader">مصطفى سعيد</p>
                    <p class="member-position slide-out-text fader">نائب رئيس لجنة بناء القدرات</p>
                </div>
            </div>
            <div class="slider-anchors">
            </div>
        </article>
        <article id="sudan-team" class="leadership-teams flex-center-col">
            <h4 class="sub-title-ar slide-out-text fader">فريق السودان</h4>
            <section class="team-members fader add-anchors">
                <div class="member-item flex-center-col">
                    <figure class="member-img">
                        <img src="/statics/images/about-images/sudan-team/othman.jpeg" loading="lazy" alt="صورة شخصية لعثمان محمد">
                    </figure>
                    <p class="member-name slide-out-text fader">عثمان محمد</p>
                    <p class="member-position slide-out-text fader">رئيس لجنة المشاريع </p>
                </div>
                <div class="member-item flex-center-col">
                    <figure class="member-img">
                        <img src="/statics/images/about-images/sudan-team/hajar.jpeg" loading="lazy" alt="صورة شخصية لهاجر يحيى">
                    </figure>
                    <p class="member-name slide-out-text fader">هاجر يحيى</p>
                    <p class="member-position slide-out-text fader">رئيس لجنة الموارد البشرية </p>
                </div>
                <div class="member-item flex-center-col">
                    <figure class="member-img">
                        <img src="/statics/images/about-images/sudan-team/mostafa.jpeg" loading="lazy" alt="صورة شخصية لمصطفى عصام">
                    </figure>
                    <p class="member-name slide-out-text fader">مصطفى عصام</p>
                    <p class="member-position slide-out-text fader">رئيس لجنة العلاقات العامة </p>
                </div>
                <div class="member-item flex-center-col">
                    <figure class="member-img">
                        <img src="/statics/images/about-images/sudan-team/israa.jpeg" loading="lazy" alt="صورة شخصية لاسراء هجو">
                    </figure>
                    <p class="member-name slide-out-text fader">اسراء هجو</p>
                    <p class="member-position slide-out-text fader">نائب اول - لجنة العلاقات العامة</p>
                </div>
                <div class="member-item flex-center-col">
                    <figure class="member-img">
                        <img src="/statics/images/about-images/sudan-team/mo'aad.jpeg" loading="lazy" alt="صورة شخصية لمعاذ عبدالرحمن">
                    </figure>
                    <p class="member-name slide-out-text fader">معاذ عبدالرحمن</p>
                    <p class="member-position slide-out-text fader">نائب ثاني - لجنة العلاقات العامة</p>
                </div>
                <div class="member-item flex-center-col">
                    <figure class="member-img">
                        <img src="/statics/images/about-images/sudan-team/noor.jpeg" loading="lazy" alt="صورة شخصية لنور ابو زيد">
                    </figure>
                    <p class="member-name slide-out-text fader">نور ابو زيد</p>
                    <p class="member-position slide-out-text fader">نائب اول - لجنة الانشطة التطوعية</p>
                </div>
                <div class="member-item flex-center-col">
                    <figure class="member-img">
                        <img src="/statics/images/about-images/sudan-team/malak.jpeg" loading="lazy" alt="صورة شخصية لملاك معز">
                    </figure>
                    <p class="member-name slide-out-text fader">ملاك معز</p>
                    <p class="member-position slide-out-text fader">نائب ثاني - لجنة الانشطة التطوعية</p>
                </div>
                <div class="member-item flex-center-col">
                    <figure class="member-img">
                        <img src="/statics/images/about-images/sudan-team/mawaheb.jpeg" loading="lazy" alt="صورة شخصية لمواهب سعد">
                    </figure>
                    <p class="member-name slide-out-text fader">مواهب سعد</p>
                    <p class="member-position slide-out-text fader">نائب اول - لجنة الموارد البشرية</p>
                </div>
            </section>
            <div class="slider-anchors">
            </div>
        </article>
        <article id="mauritania-team" class="leadership-teams flex-center-col">
            <h4 class="sub-title-ar slide-out-text fader">فريق موريتانيا</h4>
            <section class="team-members fader add-anchors">
                <div class="member-item flex-center-col">
                    <figure class="member-img">
                        <img src="/statics/images/about-images/mauritania-team/abdelrahman.jpeg" loading="lazy" alt="صورة شخصية لعبدالرحمن الشيخ">
                    </figure>
                    <p class="member-name slide-out-text fader">عبدالرحمن الشيخ</p>
                    <p class="member-position slide-out-text fader">منسق عام المنظمة</p>
                </div>
                <div class="member-item flex-center-col">
                    <figure class="member-img">
                        <img src="/statics/images/about-images/mauritania-team/a'el.jpeg" loading="lazy" alt="صورة شخصية لأعل الحبيب">
                    </figure>
                    <p class="member-name slide-out-text fader">أعل الحبيب</p>
                    <p class="member-position slide-out-text fader"> نائب منسق عام المنظمة</p>
                </div>
                <div class="member-item flex-center-col">
                    <figure class="member-img">
                        <img src="/statics/images/about-images/mauritania-team/dakala.jpeg" loading="lazy" alt="صورة شخصية لدكاله احمد">
                    </figure>
                    <p class="member-name slide-out-text fader">دكاله احمد</p>
                    <p class="member-position slide-out-text fader">رئيس المالية</p>
                </div>
                <div class="member-item flex-center-col">
                    <figure class="member-img">
                        <img src="/statics/images/about-images/mauritania-team/abrakhom.jpeg" loading="lazy" alt="صورة شخصية لابركهم عثمان">
                    </figure>
                    <p class="member-name slide-out-text fader">ابركهم عثمان</p>
                    <p class="member-position slide-out-text fader">رئيس لجنة الاعلام</p>
                </div>
                <div class="member-item flex-center-col">
                    <figure class="member-img">
                        <img src="/statics/images/about-images/mauritania-team/amgaloha.jpeg" loading="lazy" alt="صورة شخصية لامغلوها احمد">
                    </figure>
                    <p class="member-name slide-out-text fader">امغلوها احمد</p>
                    <p class="member-position slide-out-text fader">رئيس لجنة الانشطة</p>
                </div>
                <div class="member-item flex-center-col">
                    <figure class="member-img">
                        <img src="/statics/images/about-images/mauritania-team/yousef.jpeg" loading="lazy" alt="صورة شخصية ليوسف لمام">
                    </figure>
                    <p class="member-name slide-out-text fader">يوسف لمام</p>
                    <p class="member-position slide-out-text fader">رئيس لجنة الموارد البشرية</p>
                </div>
                <div class="member-item flex-center-col">
                    <figure class="member-img">
                        <img src="/statics/images/about-images/mauritania-team/sayed.jpeg" loading="lazy" alt="صورة شخصية لسيد المختار ويس">
                    </figure>
                    <p class="member-name slide-out-text fader">سيد المختار ويس</p>
                    <p class="member-position slide-out-text fader">رئيس لجنة العلاقات العامة</p>
                </div>
                <div class="member-item flex-center-col">
                    <figure class="member-img">
                        <img src="/statics/images/about-images/mauritania-team/aldah.jpeg" loading="lazy" alt="صورة شخصية لالداه مولاي ابراهيم">
                    </figure>
                    <p class="member-name slide-out-text fader">الداه مولاي ابراهيم</p>
                    <p class="member-position slide-out-text fader">نائب رئيس لجنة المشاريع</p>
                </div>
            </section>
            <div class="slider-anchors">
            </div>
        </article>
    </section>
    <section id="our-partners" class="flex-center-col circles-side-shape-right">
        <h5 class="section-title-ar"><span>شركاء</span><span>نجاحنا </span></h5>
        <ul class="logos-list slider">
            <li><img src="/statics/images/about-images/parteners/terre-des-hommes.webp" loading="lazy" alt="شعار تيري دي زوم"></li>
            <li><img src="/statics/images/about-images/parteners/telenoog.png" loading="lazy" alt="شعار تيلينوج"></li>
            <li><img src="/statics/images/about-images/parteners/IEC.png" loading="lazy" alt="IEC شعار مجتمع الابتكار وريادة الاعمال"></li>
            <li><img src="/statics/images/about-images/parteners/RJSM.jpeg" loading="lazy" alt="RJSM شعار"></li>
        </ul>
        <ul class="logos-list slider">
            <li><img src="/statics/images/about-images/parteners/sudan-minestry-of-youth.png" loading="lazy" alt="شعار وزارة الشباب والرياضة السودانية"></li>
            <li><img src="/statics/images/about-images/parteners/همم.png" loading="lazy" alt="شعار همم"></li>
            <li><img src="/statics/images/about-images/parteners/ArabFederationForVoluntaryActivity.jpg" loading="lazy" alt="شعار الاتحاد العربي للعمل التطوعي"></li>
            <li><img src="/statics/images/about-images/parteners/unity-council.png" loading="lazy" alt="شعار مجلس الوحدة الاقتصادية العربية"></li>
            <li><img src="/statics/images/about-images/parteners/Amal-AlTefl.png" loading="lazy" alt="شعار هيئة امل الطفل"></li>
            <li><img src="/statics/images/about-images/parteners/JoodFoundation.jpeg" loading="lazy" alt="شعار مؤسسة جود"></li>
            <li><img src="/statics/images/about-images/parteners/KnowledgeManagementCenter.png" loading="lazy" alt="شعار مركز ادارة المعرفة"></li>
            <li><img src="/statics/images/about-images/parteners/SCDA.jpeg" loading="lazy" alt="شعار الجمعية السودانية لسكري الاطفال"></li>
        </ul>
        <ul class="logos-list slider">
            <li><img src="/statics/images/about-images/parteners/avu.jpg" loading="lazy" alt="شعار الاتحاد العربي للتطوع"></li>
            <li><img src="/statics/images/about-images/parteners/CommuneDeTeyarett.jpeg" loading="lazy" alt="شعار بلدية تياري - موريتانيا"></li>
            <li><img src="/statics/images/about-images/parteners/KuwaitTeachersSociety.jpg" loading="lazy" alt="شعار مؤسسة التنمية والابتكار"></li>
            <li><img src="/statics/images/about-images/parteners/ITCC.jpeg" loading="lazy" alt="شعار مركز التدريب والاستشارات الدولي"></li>
            <li><img src="/statics/images/about-images/parteners/myhome-is-myduty.jpeg" loading="lazy" alt="شعار مبادرة واجبي وطني"></li>
            <li><img src="/statics/images/about-images/parteners/alatef-welhanan.jpeg" loading="lazy" alt="شعار جمعية العطف والحنان"></li>
            <li><img src="/statics/images/about-images/parteners/nouadhibou.jpeg" loading="lazy" alt="شعار شبكة انواذيبو اولا"></li>
            <li><img src="/statics/images/about-images/parteners/AMSME-DEI.jpeg" loading="lazy" alt="AMSME-DEI شعار"></li>
        </ul>
        <ul class="logos-list slider">
            <li><img src="/statics/images/about-images/parteners/MFY-Morroco.png" loading="lazy" alt="شعار المنتدى المتوسطي للشباب - المغرب"></li>
            <li><img src="/statics/images/about-images/parteners/little-inventors.jpg" loading="lazy" alt="شعار فريق المبتكرين الصغار"></li>
            <li><img src="/statics/images/about-images/parteners/MauritaniaDownSyndrome.jpeg" loading="lazy" alt="شعار الجمعية الموريتانية لاصحاب الهمم"></li>
            <li><img src="/statics/images/about-images/parteners/SudanYouthOrganization.jpg" loading="lazy" alt="شعار جمعية شباب السودان لتغير المناخ"></li>
            <li><img src="/statics/images/about-images/parteners/RebublicOfMauritania.jpeg" loading="lazy" alt="شعار الجمهورية الاسلامية الموريتانية"></li>
            <li><img src="/statics/images/about-images/parteners/nada.jpg" loading="lazy" alt="شعار مؤسسة ندى"></li>
            <li><img src="/statics/images/about-images/parteners/whites.JPG" loading="lazy" alt="شعار مبادرة وايتس"></li>
            <li><img src="/statics/images/about-images/parteners/atu.png" loading="lazy" alt="شعار اتحاد المدربين العرب"></li>
            <li><img src="/statics/images/about-images/parteners/yno.jpg" loading="lazy" alt="YNO شعار"></li>
        </ul>
    </section>
    <section id="Lets-change-the-world" class="flex-center">
        <figure class="change-img net-side-shape">
            <img src="/statics/images/about-images/volunteers-with-children.jpeg" loading="lazy" alt="صورة لعدد من متطوعينا مع اطفال مشاركين في احد برامجنا">
        </figure>
        <div class="change-content flex-center-col">
            <h6 class="section-title-ar"><span>لنغير </span><span>العالم </span><span>معا </span></h6>
            <p>لنبني معا عالم حيث يمكن للجميع المساهمة بمهاراتهم لصالح المجتمع</p>
            <ul class="flex-center">
                <li class="flex-center">
                    <a href="{{ url_for('.ar_join_us') }}" class="flex-center main-CTAs-transparent-dark "><span>انضم الينا</span></a>
                </li>
                <li class="flex-center">
                    <a href="{{ url_for('.ar_contact') }}" class="flex-center main-CTAs"><span>تواصل معنا</span></a>
                </li>
            </ul>
        </div>
    </section>
</main>

{% endblock %}

{% block docJs %}

<script type="module" src="/statics/ar-js/about.js"></script>

{% endblock %}