{% extends 'base-ar.html' %}

{% block docStyles %}

<link rel="stylesheet" href="/statics/credits.css">

{% endblock %}

{% block main %}
<main>
    <section id="home" class="flex-center-col">
        <h1 class="section-title-ar">الحقوق والاسناد</h1>
        <ul id="credits-list">
            <li class="credit-item flex-center-col">
                <img src="/statics/images/home-images/home-family.svg" data-no-sizing="yes">
                <p>الصورة من قبل Freepik</p>
                <a href="https://www.freepik.com/free-vector/hand-drawn-black-family-illustration_26520462.htm#page=5&query=african%20children&position=49&from_view=search&track=sph" target="_blank" class="main-CTAs flex-center"><span>اكتشف المزيد</span></a>
            </li>
            <li class="credit-item flex-center-col">
                <img src="/statics/images/home-images/landscape-kids.svg" data-no-sizing="yes">
                <p>الصورة من قبل macrovector على freepik</p>
                <a href="https://www.freepik.com/free-vector/cartoon-team-cheerful-friends-holding-hands_4016523.htm#page=3&query=kid&position=3&from_view=search&track=sph#position=3&page=3&query=kid" target="_blank" class="main-CTAs flex-center"><span>اكتشف المزيد</span></a>
            </li>
            <li class="credit-item flex-center-col">
                <img src="/statics/images/home-images/hands.png" data-no-sizing="yes">
                <p>صور متطوعين من قبل Vecteezy</p>
                <a href="https://www.vecteezy.com/free-vector/volunteer" target="_blank" class="main-CTAs flex-center"><span>اكتشف المزيد</span></a>
            </li>
            <li class="credit-item flex-center-col">
                <img src="/statics/images/home-images/characters.png" data-no-sizing="yes">
                <p>الشخصيات من قبل upklyak على Freepik</p>
                <a href="https://www.freepik.com/free-vector/set-diverse-students-characters-with-bags_34084525.htm#query=african%20muslim%20teenagers&position=6&from_view=search&track=sph" target="_blank" class="main-CTAs flex-center"><span>اكتشف المزيد</span></a>
            </li>
            <li class="credit-item flex-center-col">
                <img src="/statics/images/home-images/icons8icons.png" data-no-sizing="yes">
                <p>الايقونات من قبل Icons8</p>
                <a href="https://icons8.com/" target="_blank" class="main-CTAs flex-center"><span>اكتشف المزيد</span></a>
            </li>
        </ul>
    </section>
</main>
{% endblock %}

{% block docJs %}
<script src="/statics/credits.js" type="module"></script>
{% endblock %}